.App {
  font-family: Papyrus, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 80px 70px 4fr 4fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:  "sidebar searchbar searchbar"
                        "sidebar directory directory"
                        "sidebar gallery gallery"
                        "sidebar gallery gallery"
}

img {
  max-width: 100%;
  max-height: 100%;
}

.directory {
  grid-area: directory;
  border: 1px solid black;
  margin: 1vw;
}

.gallery {
  grid-area: gallery;
  border: 1px solid black;
  margin: 1vw;
}

.help {
  grid-area: help;
  border: 1px solid black;
  margin: 1vw;
}

.posting {
  margin: 1vw;
  grid-area: posting;
  float: left;
  width: 45%;
  height: 45%;
  border: 1px solid black;
}

.searchbar {
  grid-area: searchbar;
  border: 1px solid black;
  margin: 1vw;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid black;
  margin: 1vw;
}